.diversos .diversos_principal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1.6rem 10%;
    
}

.diversos .diversos_description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:  1.6rem;
    margin: 0 auto;
    padding: 32px 10%;
    flex-wrap: wrap;
}

.diversos {
    padding-bottom: 1.6rem;
}